.form-control:focus{
    border-color: #ff3b3b !important;
    box-shadow: 0 0 0 0.1rem hsl(0, 71%, 60%) !important;
  }
.logomicrosoft {
  position: relative;
  left: -10px;
}

.social-icons {
  text-align: right;
  list-style: none;
  padding: 200;
}
